<!DOCTYPE html>
<html>

<body>


<div>
    привіт, ти авторизований!!!
    <a href="javascript:closeWindow();">Close Window</a>
</div>


</body>
<script>
    function closeWindow() {
        window.open('','_parent','');
        window.close();
    }
</script>
</html>
